.userForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
.form-class {
  background-color: rgba(236, 236, 226, 0.514);
  border: 1px solid rgba(1, 19, 1, 0.021);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 2px;
  padding-right: 2px; */
}

/* .form-class label, input {
  padding-left: 2px;
  padding-right: 2px;
} */
input {
  display: block;
  width: 20rem;
  height: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}
button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 3px;
}
button:hover {
  background-color: #0f7926;
  color: #fff;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
  margin: 0, 2px, 0 2px;
}
select{
  margin-left: 5px
}